<footer class="footer footer-black footer-big">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 ml-auto mr-auto">
          <div class="logo text-center">
            <img src="{{ "/assets/img/canitrust/logo/logo_text_sans_cadre.png" | relative_url }}" width="150" />
            <p> 06 89 87 01 71
                <br/> contact@canitrust.fr
                <br/>
                <a href="https://www.facebook.com/JonathanCaniTrust" target="_blank" class="btn btn-just-icon btn-link btn-facebook">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="https://www.instagram.com/jonathan_canitrust/" target="_blank" class="btn btn-just-icon btn-link btn-instagram">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
            </p>
          </div>
        </div>
        <div class="col-md-6 offset-md-2 col-sm-8">
          <div class="links">
            <ul>
                <li>
                  <a href="{{ "/index.html" | relative_url }}">
                    Accueil
                  </a>
                </li>
                <li>
                  <a href="{{ "/presentation.html" | relative_url }}">
                    Présentation
                  </a>
                </li>
                <li>
                  <a href="{{ "/services.html" | relative_url }}">
                    Services et Tarifs
                  </a>
                </li>
                <li>
                  <a href="{{ "/contact.html" | relative_url  }}">
                    Contact
                  </a>
                </li>
                <li>
                  <a href="https://www.cynochiot.fr">
                    Cynochiot
                  </a>
                </li>
            </ul>
            <hr>
            <div class="copyright">
              <div class="pull-left">
                ©
                <script>
                  document.write(new Date().getFullYear())
                </script>, made with <i class="fa fa-heart heart"></i> by CaniTrust<br />
                Icons made by <a href="http://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

<script src="{{ "/assets/js/core/jquery.min.js" | relative_url }}" type="text/javascript"></script>
<script src="{{ "/assets/js/core/popper.min.js" | relative_url }}" type="text/javascript"></script>
<script src="{{ "/assets/js/core/bootstrap.min.js" | relative_url }}" type="text/javascript"></script>
<!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
<script src="{{ "/assets/js/plugins/bootstrap-tagsinput.js" | relative_url }}"></script>
<!--  Vertical nav - dots -->
<script src="{{ "/assets/demo/vertical-nav.js" | relative_url }}" type="text/javascript"></script>
<!-- Control Center for Paper Kit: parallax effects, scripts for the example pages etc -->
<script src="{{ "/assets/js/paper-kit.js?v=2.2.2" | relative_url }}" type="text/javascript"></script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFRWCv221kgKKhwQB6gRVZpbISSK4dD3M"></script>
<!--  Plugin for presentation page - isometric cards  -->
<script src="{{ "/assets/js/plugins/jqBootstrapValidation/jqBootstrapValidation.js" | relative_url }}"></script>
<script src="{{ "/assets/js/contact_me.js" | relative_url }}"></script>
<script src="{{ "/assets/js/plugins/presentation-page/main.js" | relative_url }}"></script>
{% if page.name == 'index.html' or page.name == 'contact.html' %}
<script>
  $(document).ready(function() {
      var myLatlng = new google.maps.LatLng(48.103731, 2.794001);
      var mapOptions = {
        zoom: 10,
        center: myLatlng,
        scrollwheel: false, //we disable de scroll over the map, it is a really annoing when you scroll through page
      }

      var map = new google.maps.Map(document.getElementById("contactUsMap2"), mapOptions);

      var marker = new google.maps.Marker({
        position: myLatlng,
        title: "CaniTrust - Éducation Canine"
      });

      // To add the marker to the map, call setMap();
      marker.setMap(map);
  });
  </script>
{% endif %}
