<head>
 <meta charset="utf-8">
 <!-- Global site tag (gtag.js) - Google Analytics -->
 <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137367323-1"></script>
 <script>
   window.dataLayer = window.dataLayer || [];
   function gtag(){dataLayer.push(arguments);}
   gtag('js', new Date());

   gtag('config', 'UA-137367323-1');
 </script>
 <link rel="apple-touch-icon" sizes="76x76" href="{{ "/assets/img//apple-icon.png" | relative_url }}">
 <link rel="icon" type="image/png" href="{{ "/assets/img//favicon.png" | relative_url }}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/css/bootstrap.min.css" | relative_url }}">
   <link rel="stylesheet" href="{{ "/assets/css/paper-kit.min.css?v=2.2.s" | relative_url }}">
   <link rel="stylesheet" href="{{ "/assets/flaticon/flaticon.css" | relative_url }}">
  {%- feed_meta -%}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "ProfessionalService",
      "name": "Canitrust - Éducation Canine",
      "image": "",
      "@id": "",
      "url": "",
      "telephone": "06 89 87 01 71",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "3 route de bransles",
        "addressLocality": "Ferrières en Gatinais",
        "postalCode": "45210",
        "addressCountry": "FR"
      },
      "geo": {
        "@type": "GeoCoordinates",
        "latitude": 48.10365179999999,
        "longitude": 2.7935066000000006
      },
      "openingHoursSpecification": {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": [
          "Monday",
          "Tuesday",
          "Wednesday",
          "Thursday",
          "Friday",
          "Saturday",
          "Sunday"
        ],
        "opens": "08:00",
        "closes": "20:00"
      },
      "areaServed": [
    		{
    			"@type": "City",
    			"name": "Fontainebleau",
    			"@id": "https://fr.wikipedia.org/wiki/Fontainebleau"
    		},
    		{
    			"@type": "City",
    			"name": "Montargis",
    			"@id": "https://fr.wikipedia.org/wiki/Montargis"
    		},
    		{
    			"@type": "City",
    			"name": "Ferrières-en-Gâtinais",
    			"@id": "https://fr.wikipedia.org/wiki/Ferri%C3%A8res-en-G%C3%A2tinais"
    		},
    		{
    			"@type": "City",
    			"name": "Amilly",
    			"@id": "https://fr.wikipedia.org/wiki/Amilly_(Loiret)"
    		},
    		{
    			"@type": "City",
    			"name": "Courtenay",
    			"@id": "https://fr.wikipedia.org/wiki/Courtenay_(Loiret)"
    		},
    		{
    			"@type": "City",
    			"name": "Nemours",
    			"@id": "https://fr.wikipedia.org/wiki/Nemours"
    		}
    	],
      "priceRange" : "€20 - €90",
      "description": "Education et rééducation pour chien dans le sud Seine et Marne et le Loiret.",
      "sameAs": "https://www.facebook.com/JonathanCaniTrust/"
    }
  </script>
  <style type="text/css">

      #contact-us .description,
      #contact .info-title {
        color: #333333 !important;
      }

      #contact {
        padding-top: 0;
      }

      #contact {
        position: relative;
      }

      #contact .card {
        top: 60px;
      }

      #contact .big-map {
        width: 100%;
        height: 100%;
        position: absolute;
      }

      #contact-us .card-contact .card-body .checkbox {
        margin-top: 5px;
      }
  </style>
</head>
